{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Blog" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
</head>
<body>
    <div class="container">
        <h1>{% trans "Blog Posts" %}</h1>
        <div class="language-selector">
            <p>{% trans "Select your language:" %}</p>
            <ul>
                <form action="" method="post">
                      <li><a href="http://127.0.0.1:8000/en">English</a></li>
                <li><a href="http://127.0.0.1:8000/fr">Français</a></li>
                <li><a href="http://127.0.0.1:8000/es">Español</a></li>
                </form>
              
            </ul>
        </div>
        <ul class="posts-list">
            {% for post in posts %}
                <li class="post">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-content">{{ post.content }}</p>
                    <small class="post-date">{% trans "Published on" %} {{ post.publication_date }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
